<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="secret.xml"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="com.zaxxer" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.mongodb" level="INFO"/>

    <!-- product -->
    <springProfile name="pro">
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- developer -->
    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="loghubAppender"/>
        </root>
    </springProfile>

    <!-- test -->
    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="loghubAppender"/>
        </root>
    </springProfile>
</configuration>

